[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
scrapy = "*"

[dev-packages]
pytest = "*"
pylint = "*"
requests-mock = "*"

[requires]
python_version = "3.6"
